@model IspitiNRAKO.Grupa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji</h2>

<div>
    <h4>Grupa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Naziv
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            Kompanija
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kompanija.Naziv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.IdGrupa }) |
    @Html.ActionLink("Natrag", "Index")
</p>
