@model IspitiNRAKO.IspitGrupa

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brisanje</h2>

<h3>Zelite li obrisati unos?</h3>
<div>
    <h4>IspitGrupa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Grupa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupa.Naziv)
        </dd>

        <dt>
            Ispit
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ispit.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisi" class="btn btn-default" /> |
            @Html.ActionLink("Povratak", "Index")
        </div>
    }
</div>
