@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    
</div>

<div class="row">
    <div class="col-lg-4">
        <h2>Dobro došli u ispitni sustav!</h2>
        <p>
            Odabrite željene radnje iz gornjeg izbornika.
        </p>
        
    </div>
   
</div>