@model IspitiNRAKO.SkupPitanja

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brisanje</h2>

<h3>Želite li obrisati skupinu pitanja?</h3>
<div>
    <h4>SkupPitanja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Brisi" class="btn btn-default" /> |
            @Html.ActionLink("Natrag", "Index")
        </div>
    }
</div>
